h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 144px;
  color: white;
}

h2 {
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  color: #2D3033;
}

h3 {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #2D3033;
}

h4 {}

h5 {}

h6 {}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #2D3033;
}
