.header__box {

    .uptitle {
      color: white;
      font-weight: 400;
      font-size: 64px;
      text-align: center;

      @media (max-width: 1024px) {
        font-size: 48px;
      }

      @media (max-width: 720px) {
        font-size: 36px;
      }
    }

    .title {
      max-width: 1170px;
      padding-top: 29px;
      padding-bottom: 44px;
      text-align: center;

      @media (max-width: 1024px) {
        padding-top: 29px;
        padding-bottom: 35px;
      }

      @media (max-width: 720px) {
        padding-top: 64px;
        padding-bottom: 70px;
      }
    }

    .header__separator {
      margin-top: 20px;
      padding-bottom: 20px;

      @media (max-width: 1024px) {
        margin-top: 0px;
      }

      @media (max-width: 720px) {
        margin-top: 0px;
      }

      .separator {
        border-color: #fff;

        @media (max-width: 1024px) {
          width: 117px;
        }

        @media (max-width: 720px) {
          width: 134px;
        }
      }
    }

    .header__button-primary {
      margin-top: 74px;
      margin-bottom: 116px;
      display: flex;
      justify-content: center;

      @media (max-width: 1024px) {
        margin-top: 34px;
        margin-bottom: 78px;
      }

      @media (max-width: 720px) {
        margin-top: 50px;
        margin-bottom: 54px;
      }

      a {
        text-decoration: none;
      }
    }
  }
