.inst {

  .inst__header {
    height: 100px;
    padding-top: 41px;
    color: #2D3033;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
  }

  .inst__foto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1px;
  }

  .inst__link {
    padding-top: 41px;

    a {
      font-weight: 400;
      font-size: 13px;
      text-decoration-line: underline;
      text-transform: uppercase;
      color: #2D3033;
    }
  }
}
