.result {
  display: flex;
  justify-content: center;
  text-align: center;

  .result__item {
    border: 1px solid white;
    width: calc(20% - 1px);
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .result__number {
      font-weight: 700;
      font-size: 64px;
      color: white;
    }

    .result__text {
      font-weight: 500;
      font-size: 24px;
      color: white;
      margin-top: 14px;
    }
  }
}
