.services__box {
  margin-top: 87px;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 1024px) {
    margin-top: 74px;
  }

  @media (max-width: 720px) {
    margin-top: 72px;
    flex-wrap: wrap;
  }
}
