.sotial__network {

  .sotial__followers {
    text-transform: uppercase;
    color: #2D3033;
    padding-top: 32px;
    padding-bottom: 20px;
    border-bottom: 1px solid #C6CBCD;

    @media (max-width: 1024px) {
      padding-bottom: 13px;
    }

    @media (max-width: 720px) {
      text-align: center;
      padding-bottom: 14px;
    }

    .amount {
      font-weight: 700;
      font-size: 36px;

      @media (max-width: 1024px) {
        font-size: 24px;
      }

      @media (max-width: 720px) {
        font-size: 24px;
      }
    }

    .followers {
      font-weight: 400;
      font-size: 18px;
      font-style: italic;

      @media (max-width: 1024px) {
        font-size: 14px;
      }

      @media (max-width: 720px) {
        font-size: 14px;
      }
    }
  }

  .sotial__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;

    .sotial__link {
      font-weight: 400;
      font-size: 13px;
      font-style: italic;
      color: #C6CBCD;

      @media (max-width: 1024px) {
        font-size: 12px;
      }

      @media (max-width: 720px) {
        font-size: 12px;
      }
    }

    .sotial__icon {
      font-size: 24px;
      color: $main-theme;
      text-align: right;

      @media (max-width: 1024px) {
        font-size: 16px;
      }

      @media (max-width: 720px) {
        font-size: 16px;
      }
    }
  }
}
