.sotial {

  .sotial__content {
    font-weight: 400;
    font-size: 18px;
    color: #C6CBCD;
    margin-top: 26px;

    .sotial__logo {
      width: 140px;
      height: 38px;
      margin-bottom: 26px;
      margin-top: 33px;
    }
    .sotial__text {
      width: 100%;
    }
  }
}
