.work__box {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "item-1 item-2 item-3 item-4"
    "item-5 item-6 item-3 item-7";

  @media (max-width: 1024px) {}

  @media (max-width: 720px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "item-1 item-2"
      "item-3 item-2"
      "item-4 item-2"
      "item-5 item-6"
      "item-7 item-7";

    .work__inner-1 {
      grid-area: item-1;
    }

    .work__inner-2 {
      grid-area: item-6;
    }

    .work__inner-3 {
      display: none;
    }

    .work__inner-2-2 {
      display: inline;
      grid-area: item-2;
    }

    .work__inner-4 {
      grid-area: item-5;
    }

    .work__inner-5 {
      grid-area: item-3;
    }

    .work__inner-6 {
      grid-area: item-7;
    }

    .work__inner-7 {
      grid-area: item-4;
    }
  }

  .work__inner-1 {
    grid-area: item-1;
  }

  .work__inner-2 {
    grid-area: item-2;
  }

  .work__inner-3 {
    grid-area: item-3;
  }

  .work__inner-4 {
    grid-area: item-4;
  }

  .work__inner-5 {
    grid-area: item-5;
  }

  .work__inner-6 {
    grid-area: item-6;
  }

  .work__inner-7 {
    grid-area: item-7;
  }

  .work__inner {
    position: relative;

    .work__img {
      object-fit: cover;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &:before {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background:$overlap;
      opacity: 0;
      transition: all 0.4s ease;
      content: "";
      text-transform: uppercase;
      text-align: center;

      @media (max-width: 720px) {
        display: none;
      }
    }

    &:hover:before {
      opacity: 1;
    }

    //   &:hover:before &__link{
    //     opacity: 1;
    //   }

    .work__link {
      color: #FFFFFF;
      text-align: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.4s ease;
      opacity: 0;
      z-index: 0;

      @media (max-width: 720px) {
        display: none;
      }

      &:hover {
        opacity: 1;
      }

      .work__icon {

        img {
          width: 42px;
          height: 42px;

          @media (max-width: 1024px) {
            width: 28px;
            height: 28px;
          }
        }
      }

      .work__design {
        font-weight: 700;
        font-size: 24px;
        color: #FFFFFF;
        text-transform: uppercase;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 60px;

        @media (max-width: 1024px) {
          font-size: 18px;
          padding-top: 10px;
          padding-bottom: 10px;
          margin-top: 40px;
        }

        @media (max-width: 720px) {}
      }

      .work__text {
        font-weight: 400;
        font-size: 18px;
        color: #FFFFFF;

        @media (max-width: 1024px) {
          font-size: 14px;
        }

        @media (max-width: 720px) {}
      }

    }
  }

  .work__inner-2-2 {
    display: none;

    @media (max-width: 1024px) {
      display: none;
    }
    @media (max-width: 720px) {
      display: inline;
    }
  }
}
